.coverage
coverage.xml
cover/*
doc/source/developer/api/
*~
.testrepository
*.sw?
#*#
*.pyc
.tox
*.egg
*.egg-info
dist
*.qcow2
*.raw
*.initrd
*.vmlinuz
/*-manifests
/*.d
!/.zuul.d
build
AUTHORS
ChangeLog
bin/diskimage_builder
*.bak
*.orig
