doc/source/developer/api/
*.pyc
*.qcow2
*.raw
*.initrd
*.vmlinuz
/*-manifests
/*.d
!/.zuul.d
*.bak
*.orig

# Packages
*.egg*
*.egg-info
dist
build
eggs
bin/diskimage_builder

# Unit test / coverage reports
cover/
.coverage*
coverage.xml
!.coveragerc
.tox
.stestr/
.venv

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
*.sw?