[Unit]
Description=OpenSSH Server Key Generation
Before=ssh.service

[Service]
ExecStart=/usr/local/sbin/runtime-ssh-host-keys.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
