[Unit]
Description=DHCP interface %I
After=network.target
Before=network-pre.target
Wants=network-pre.target

ConditionPathExists=!/etc/sysconfig/network-scripts/ifcfg-%I

[Service]
Type=oneshot
User=root
ExecStartPre=/usr/local/sbin/dhcp-all-interfaces.sh %I
ExecStart=/sbin/ifup %I
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
