[Unit]
Description=Ironic Python Agent
After=network.target

[Service]
ExecStart=/usr/local/bin/ironic-python-agent
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target

